@font-face {
    font-family: IS;
    src: url(../font/IRAN\ Sans\ Regular\ \(mmrostami.blog.ir\).ttf);
}
body{
    direction: rtl;
    background-color: #faf9f9;
}
li{
    list-style-type: none;
}

/* menu */
.menu-li{
    text-decoration: none;
    font-family: IS;
    margin-right: 23px;
    font-size: 19px;
    color: rgb(45, 38, 88);
    transition: all ease .4s;
}
.menu-li:hover{
    color: orange;
}
.bg-nav img{
    margin-right: 955px !important;

}
.bg-nav{
    margin-right: auto;
}

/* home */
.bg-header{
    background-image: url(../img/34.jpg) ;
    height: 700px;
    width: 1345px !important;
    justify-content: center;
    display: grid;
}
.bg-nav{
    padding: 14px 0px;
    text-align: right;
}
.text-home{
    margin: 145px;
    display: table;
    font-weight: 100 !important;
}
.text-home h2{
    font-size: 1.5em;
    margin-top: 25px;
}
.bg-nav i{
    font-size: 16px;
    margin-right: 13px;
    color: #f78e06;
}
.container-bg-home{
    margin-top: 50px;
    justify-content: center;
    display: block !important;
    font-family: IS;
    position: relative;
    width: 1100px;
    height: 600px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .21);
    border-radius: 15px;
    background: rgba(255, 255, 255, .1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    font-weight: 100;

}
.img-container-bg-home h1{
    font-size: 37px;
    display: block !important;
}

/* about */
.about-box{
    width: 900px;
    margin: 12em auto;
    font-family: IS !important;
}
.about-box p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(93, 92, 92);
    letter-spacing: 1.2px;
}
.about-box h1{
    border-bottom: 3px solid rgb(241, 96, 96);
    width: 390px;
    margin: auto;
    margin-bottom: 1.5em;
    font-weight: 500;
    font-size: 37px;
}

/* cartabout */
.cartabout{
    font-family: IS;
    display: flex;
    margin: 12em auto;
    text-align: center;
    justify-content: space-around;
}
.cartabout .cartabout-img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.cartabout-img1{
    background: url('../img/58.jpg');  
}
.cartabout-img2{
     background: url('../img/53.jpg');  
}
.cartabout .cartabout-text{
    width: 400px;
    height: 300px;
    font-size: 20px;
    text-align: right;
}
.cartabout .cartabout-text h2{
    font-weight: 500;
    
}
.cartabout .cartabout-text h2 i{
    color: forestgreen;
}

/* card */
.cus-card{
    /* border: 3px solid #f8e326; */
    box-shadow: 5px 5px 29px -11px #f3d163 !important;
    width: 900px;
    height: 300px;
    border-radius: 50px;
    margin: 5px auto;
    cursor: pointer;
    display: flex !important;
}
.txt-card{
    font-family: IS;
    margin:  auto;
    max-width: 300px;
    max-height: 300px;
}

.bg-card{
    width: 300px;
    border-top: 8px !important;
    margin: 25px;
    border-radius: 25px;
    display: flex !important;
}
.bg-card1 .bg-card{
    background-image: url('../img/23.jpg');
    height: 250px;
}
.bg-card1 h5{
    font-weight: 500;
}
 .bg-card2 .bg-card{
    background-image: url('../img/25.jpg');
    height: 250px;
}
.bg-card3 .bg-card{
    background-image: url('../img/29.jpg');
    height: 250px;
}
.bg-card4 .bg-card{
    background-image: url('../img//54.jpg');
    height: 250px;
}
.bg-card3 h5{
    font-weight: 500;
}
.bg-card2 h5{
    font-weight: 500;
}
.text-card h5{
    font-size: 20px;
}
.txt-card p{
    font-size: 18px;
}
.mycard{
    justify-content: center;
}

/* footer */
.footer{
    width: 100%;
    height: 300px;
    justify-content: space-around;
    text-align: right;
    display: flex;
    margin-top: 90px;
    font-family: IS;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: #fffffe;
    box-shadow:  11px -11px 22px #e8e8e8,
             -11px 11px 22px #ffffff;
}
.footer .col1-footer{
    max-width: 250px;
    letter-spacing: 1.2px;
}
.footer  h3{
    margin-top: 50px;
}
.footer li{
    margin-top: 15px;
}
.logo-footer{
    background: url(../img/logo.png);
    width: 100px;
    height: 57px;
    margin-top: 100px;
}
.col2-footer ul{
margin-right: -31px;
cursor: pointer;
transition: all ease 0.5s;
}
.col2-footer li:hover{
    color: orange;
}

/* Gallery Page */

.a-like{
    margin: -12px 47px;
    display: -webkit-inline-box;
    color: #000;
    text-decoration: none;
    transition: all ease .5s;
    cursor: pointer;
}

.img-container{
    justify-content: center;
    text-align: center;
    display: inline-grid;
    margin-top: 17px;
}
.img-container .a-like:hover{
    color: #f78e06;
}

@media(max-width:330px){
.img-container img{
    width: 210px !important;
    height: 150px !important;
    margin-top:-69px;
}
.img{
    margin-bottom:-28px !important;
    height: 160px !important;
    border: none !important;
}
}
.bg{
height: 600px;
background-color: #fff;
}
.img-bg{
margin-left: 600px;
}
@media(max-width:1224px){
.img-bg{
    margin-left: 550px;
}

}
@media(max-width:1175px){
.img-bg{
    margin-left: 400px;
    width: 500px;
}

} 

@media(max-width:925px){
.img-bg{
    margin-left: 320px;
    width: 430px;
}
.bg{
    height: 450px;
}
}
@media(max-width:775px){
.img-bg{
    margin-left: 250px;
    width: 380px;
}
}
@media(max-width:655px){
.img-bg{
    margin-left: 200px;
    width: 320px;
}
.bg{
    height: 400px;
}
} 
@media(max-width:545px){
.img-bg{
    margin-left: 150px;
    width: 300px;
}

}
@media(max-width:475px){
.img-bg{
    margin: 0 5px;
    width: 250px;
}
.bg{
    height: 500px;
}
}
.img{
    width: 280px;
    height: 200px;
    margin: 20px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.box-img{
    width: 280px;
    height: 200px;
}
 /* User Page */

.bg-user{
    background: url('../img/62.png');
    height: 600px;
    width: 1345px !important;
}

 .box-todo{
     margin-top: -40px;
     font-family: IS;
 }

 table{
    display: block !important;
    margin-top: 156px;
}
tbody{
    display: block;
    margin: 0 auto !important;
}
tr td{
    position: relative;
    z-index: 555;
    margin: 10px auto !important;
    font-size: 18px;
}
tr{
    display: flex;
    margin: 20px auto;
    border-bottom: 1px solid #cacaca;
}
.box-todo i{
    cursor: pointer;
    color: red;
}
input{
    padding: 12px;
    border: none;
    border-bottom: 1px solid #f78e06;
    outline: none;
    font-family: IS;
    background: transparent;
}
::placeholder{
    font-size: 18px;
}
#send{
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    outline: none;
    font-family: IS;
    font-size: 18px;
    background-color: #f88f2d;
    border-radius: 5px;
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 4px );
}
.div-input{
width: 400px;
padding: 29px;
margin: -409px 706px !important;
z-index: 55555;
position: relative;
background: rgba( 255, 255, 255, 0.55); 
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
 border-radius: 34px;
    }
/**********/
/* user */
@media( min-width:1200px){
    .div-input{
          margin: 180px 678px !important;
    }
  }

/* Team */
.container-team{
    justify-content: space-around;
    display: flex;
}
.container-team .card{
    width: 16rem !important;
    border: none !important;
    font-family:IS ;
    box-shadow: 5px 5px 29px -11px #f3d163 !important;
    border-radius: 25px;
    height: 300px !important;
    padding: 18px;
    transition: all ease .5s;
}
.container-team .card:hover{
    cursor: pointer;
    box-shadow: 4px 6px 28px 7px #f3f391 !important;
}
.container-team .card-team:hover{
    cursor: pointer;
}
.container-team .card img{
    border-radius: 10px;
}
.card-team{
    margin-top: 40px;
}

/* Factor Health */
.factor-health{
    display: flex;
    align-items: center !important;
    justify-content:  space-evenly;
    height: 150px;
    border-radius: 8px;
}
.factor-health img{
    width: 64px !important;
    height: 64px !important;
}
.box-icon-health{
    font-family: IS;
    /* background-color: #f3f5f3; */
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 29px -11px #f5e8bd;

}
/* About Factor */
.about-factor{
    display: grid;
    justify-content: center;
    font-family: IS;
}
.about-factor .card{
    width: 900px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.card-green .card{
    background-color: #eaf7ed;
}
.card-orange .card{
    background-color: #fdf3ea;
}
.about-factor img{
    float: right;
}
.about-factor .card-footer{
    border: none;
    border-bottom-left-radius:15px !important;
    border-bottom-right-radius: 15px !important;
}